*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../../assets/img/studentbackground.jpg');
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing:  1px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    color:rgb(14,13,13);
}