$default-color: #b29046;
$btn-hover: #cba34b;

body {
  font-size: 14px;
  font-family: jose-regular, sans-serif, Arial;
}

.header-mt {
  margin-top: 80px;
}

a:hover {
  color: $default-color;
}

.text-default {
  color: $default-color;
}

.text-grey-1 {
  color: #a9a9a9;
}

.text-grey-2 {
  color: #5e5e5e;
}

.bg-black {
  background-color: #161616;
}

.bg-default {
  background-color: $default-color;
}

.bg-color-1 {
  background-color: #f6f6f6;
}

.xeo-heading-1 {
  font-size: 2.5em;
  font-family: Righteous, sans-serif, Arial;
}

.xeo-heading-2 {
  font-size: 2.8em;
  font-family: Righteous, sans-serif, Arial;
  letter-spacing: 4px;
}

.xeo-btn-1 {
  background-color: $default-color;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.xeo-btn-1:hover {
  background-color: $btn-hover;
}

.xeo-text-1 {
  font-size: 1.4em;
  margin-bottom: 0;
}

table tr {
  vertical-align: bottom;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: bottom;
}

.count-box {
  background-color: #f6f6f6 !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 4px solid !important;
  border-color: #dadada !important;
  height: 45px;
  padding-left: 13px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  color: white;
  background: #5a5a5a73;
}

a:not([href]):not([class]):hover {
  color: $default-color;
}

.page-link {
  color: $default-color;
}

//
//@for $i from 1 to 10{
//  .font-#{$i}{
//    font-size: #{$i}em;
//  }
//}


@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }

}


.business-tab {

  .nav-item {
    width: 33.33%;
    text-align: center;
    display: flex;

    .nav-link {
      align-items: center;
      display: flex;
    }
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $default-color;
  }

  .page-item.active .page-link {
    background-color: $default-color;
    border-color: $default-color;
  }

  @media screen and (min-width: 992px) {
    .nav-item {
      width: unset;
    }
  }

}


//header

.xeo-header-2 {
  font-family: 'Proxima-Regular', sans-serif;
  background: white;
  width: 100%;
  top: 0;
  z-index: 3;
  position: fixed;
  box-shadow: 0 0 7px 0 #6b6b6b42;

  .navbar {
    padding: 1em 0;


    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
      color: $default-color;
      font-size: 2em;
      font-family: jose-regular, sans-serif, Arial;

      img {
        width: 200px;
      }
    }

    .nav-link {
      padding-right: 1em;
      padding-left: 1em;
      color: black;
      font-weight: 600;
      text-align: center;
      font-family: jose-semibold, sans-serif, Arial;
      text-transform: uppercase;

      &:hover {
        color: $default-color;
      }

      &.router-link-exact-active {
        //color: $default-color;
        position: relative;

        &:before {
          position: absolute;
          left: 23%;
          content: "";
          bottom: 0;
          width: 54%;
          height: 1px;
          background: $default-color;
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    //.active > .nav-link {
    //  color: #26bafa;
    //}

    .navbar-toggler {
      color: rgba(0, 0, 0, .5);
      border-color: transparent;
    }

  }
}

@media (min-width: 992px) {
  .xeo-header-2 {
    .navbar {
      padding: 0;
      min-height: 80px;
    }

    .btn-lg-block {
      display: block;
      width: 100%;
    }
  }
}

//header

//main-banner

.banner-section {
  .banner-text-1 {
    color: white;
    font-size: 2.8em;
    letter-spacing: 4px;
    font-family: Righteous, sans-serif, Arial;
  }

  .banner-text-2 {
    color: #a9a9a9;
    font-size: 1.4em;
  }
}

//main-banner

.paragraph-section {
  p {
    color: #5e5e5e;
    font-size: 1.5em;
  }
}


.filter-section {


  .filter {
    padding: 6px 6px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.35s;

    &.active {
      color: $default-color;
    }

    &:hover {
      background: lightgray;
    }
  }

  .projects {
    .project {
      transition: all .35s ease-in-out;

      .project-title {
        text-align: center;
        margin-top: 5px;
      }

      .item-price {
        text-align: center;
        margin-top: 5px;
      }

      .project-image {
        width: 100%;
        //height: 184px;
        border-radius: 5px;
      }
    }

  }

  .project-add-wrapper {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #b29046;
    border-radius: 5px;
    color: #b29046;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}


@media (min-width: 1200px) {
  .filter-section {
    .projects {
      .project {
        .project-image {
          height: 184px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .filter-section {
    .top-pos {
      top: 100px;
    }
    .position-md-sticky {
      position: sticky;
    }
  }
}


