.navbar.navbar-top.navbar-dark.navbar-federal,
.navbar.navbar-top.navbar-light.navbar-federal {
  border-bottom: 5px solid #faa519 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;

  img.logo {
    max-height: 25px;
  }
}
